click==7.1.2
fastapi==0.58.0
h11==0.9.0
httptools==0.1.1
import-env-file==2019.6.29
motor==2.1.0
passlib==1.7.2
pydantic==1.5.1
PyJWT==2.4.0
pymongo==3.10.1
starlette==0.13.4
uvicorn==0.11.7
uvloop==0.14.0
websockets==8.1
dnspython